ul
{
	list-style: none;
	text-align: right;
}

li
{
	background-color: honeydew;
	border: 1px solid gray;
	border-radius: 3px;
	padding: 5px;
}

h3
{
	text-align: center;
}

form
{
	margin: 15px 0 15px 15px;
}

.style-div
{
	display: table;
	border: 1px solid black;
	border-radius: 5px;
	padding-right: 35px;
	float: left;
	margin: 6px
}