ul
{
	list-style: none;
	text-align: right;
}

form
{
	margin: 15px 0 15px 15px;
}

.style-div
{
	display: table;
	border: 1px solid black;
	border-radius: 5px;
	padding-right: 35px;
	float: left;
	margin: 6px
}